* {
  /* border: 2px solid red; */
  font-family: 'Roboto Mono', monospace;
}

body {
  background: white;
  display:flex;
  width: 95vw; 
  height: 100vh;
}

aside {
  width:20vw;
  height: 100vh
}

main {
  width:80vw;
  height:100vh;
}

h1, h2 {
  text-align: center;
}

.booking-section {
  display:flex;
  flex-direction: column;
  flex-wrap:wrap;
  height: 95vh;
  align-content: flex-start;
}

.booking-card {
  display:flex;
  /* border: 2px solid red; */
  padding: 2px;
  /* width: 30vw */
  align-items: flex-start;
  flex-direction: row;
}
