* {
  font-family: 'Roboto Mono', monospace;
}

body {
  background: white;
  display:flex;
  width: 95vw; 
  height: 100vh;
}

aside {
  width:20vw;
  height: 100vh
}

main {
  width:80vw;
  height:100vh;
}

h1, h2 {
  text-align: center;
}

.booking-section {
  padding-top: 10px;
  display:flex;
  flex-direction: column;
  /* flex-wrap:wrap; */
  height: 95vh;
  align-content: flex-end;
}

.booking-card {
  display:flex;
  align-items: flex-end;
  flex-direction: row;
}

.hidden {
  display: none;
}

.room-id {
  padding:5px
}

.top-section {
  text-align: center;
}

.bottom-section {
  display: flex;
  justify-content: space-between;
}

.available-section {
  padding-top: 10px;
}

.rules > p {
  margin: 0;
}