* {
  font-family: 'Roboto Mono', monospace;
}

body {
  display:flex;
  width: 95vw; 
  height: 100vh;
  background-image: url('https://media.istockphoto.com/id/1220321548/photo/hotel-atlantis-at-jumeirah-palm-in-dubai.jpg?s=612x612&w=0&k=20&c=YT9D8RU5-1RZs-pbw6nlOgongBAoCWAONz7iUQ26N10=');
  background-repeat: no-repeat;
  background-size: cover;

}

aside {
  width:20vw;
  height: 100vh
}

main {
  width:80vw;
  height:100vh;
}

h1, h2 {
  text-align: center;
}

.booking-section {
  padding-top: 10px;
  display:flex;
  flex-direction: column;
  height: 95vh;
  align-content: flex-end;
  overflow: auto;

}

.booking-card {
  display:flex;
  align-items: flex-end;
  flex-direction: row;
  border: 2px solid black;
  border-radius: 8px;
  margin: 3px;
  background-color: grey;
}

.hidden {
  display: none;
}

.room-id {
  padding:5px
}

.top-section {
  text-align: center;
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  overflow: auto;
}

.available-section {
  display: flex;
  padding-top: 10px;
  overflow: auto;
  flex-direction: column;
  height: 100vh
}

.rules > p {
  margin: 0;
}

.room-card {
  border: 2px solid black;
  border-radius: 8px;
  display:flex;
  background-color: grey;
  margin: 3px;
}

button, input, select {
  cursor: pointer;
}

aside {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.button-booking:hover, .show-rooms-button:hover, .filter-rooms-button:hover {
  scale: 1.1;
  background-color: grey;
  border-radius: 8px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  text-align: center;
}

.hidden {
  display: none;
}